[package]
name = "electronic_nose_backend"
version = "3.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
actix-web = "4"
actix-cors = "0.6"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
env_logger = "0.10"
log = "0.4"
serialport = "4.2"
influxdb2 = "0.3"
futures = "0.3"
chrono = { version = "0.4", features = ["serde"] }